@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import "null.css";

body {
   font-family: 'Lato', sans-serif;
   color: #424551;
}

.page-one {
}
[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
}
.article {
   display: inline-block;
   max-width: 810px;
}
.article__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 26px;
}
.article__image img {
   max-width: 100%;
}
.article__image {
   margin-bottom: 60px;
}
.article__text-bold {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
   margin-bottom: 24px;
}
.article__text p {
   line-height: 160%;
   margin-bottom: 24px;
}
.article__text blockquote {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
   background: url('../img/article/braces.svg') 0 0 no-repeat;
   padding: 0px 0px 0px 58px;
   margin-bottom: 24px;
}
.article__text ul {
   margin-bottom: 24px;
}
.article__text ul li {
   line-height: 160%;
   background: url('../img/article/check.svg') 0 5px no-repeat;
   padding: 0px 0px 0px 32px;
}
.article__text ul li:not(:last-child) {
   margin-bottom: 4px;
}
.article >*:last-child {
	margin-bottom: 0px;
}
.search {
}

.title {
}
.title__subtitle {
   font-weight: 700;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
   margin-bottom: 8px;
}
.title__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
}
.how__title.title,
.featured__title.title {
   text-align: center;
}
.button {
   display: inline-block;
   width: 161px;
   height: 44px;
   font-weight: 700;
   font-size: 14px;
   line-height: 44px;
   text-align: center;
   letter-spacing: 0.5px;
   color: #FFFFFF;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
}
.button:hover {
   color: red;
   background: #fff;
   border: 1px solid red;
}
.button_featured {
   width: 202px;
}
.featured__position {
   display: inline-block;
   line-height: 150%;
   color: #FFFFFF;
   height: 23px;
   border-radius: 4px;
   padding: 1px 8px;
}
.featured__position_green {
   background: #03CEA4;
}
.featured__position_orange {
   background: #F89828;
}
.featured__position_blue {
   background: #5A87FC;
}
.featured__position_pink {
   background: #F52F6E;
}
.how__link {
   display: inline-block;
   width: 300px;
   border-radius: 4px;
   font-weight: 700;
   line-height: 160%;
   text-align: center;
   color: #9A9CA5;
   border: 1px solid transparent;
}
.how__link:hover {
   color: red;
   border: 1px solid red;
}
.how__link_babl::before,
.how__link_sheets::before,
.how__link_like::before,
.how__link_star::before {
   display: inline-block;
   content: '';
   width: 15px;
   height: 15px;
   background: url('../img/how/star.svg') no-repeat;
   margin-right: 8px;
}
.how__link_babl::before {
   background: url('../img/how/babls.svg') no-repeat;
}
.how__link_sheets::before {
   background: url('../img/how/sheets.svg') no-repeat;
}
.how__link_like::before {
   background: url('../img/how/like.svg') no-repeat;
}